html, body {
  font-size: 16px;
}

header, nav, div, ul {
  border: 1px solid blue;
}

strong {
  font-weight: bold;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Header */

header {
  background-color: white;
  display: inline-flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  width: 100%;
}

.logo span {
  font-size: 1.5rem;
  text-transform: uppercase;
}
