html, body {
  font-size: 16px;
}

/* header, nav, div, ul, li, h1, h2, span {
  border: 1px solid blue;
} */

.container {
  max-width: 960px;
  margin: 0 auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #616161;
}

p, h1, h2, h3 {
  color: #474747;
  margin: 1rem 0;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
}

h2 {
  font-weight: 500;
  font-size: 2rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

.jumbo-left {
  width: 60%;
  overflow: hidden;
  margin: 2rem 1.5rem;
}

.jumbo-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 35%
}

/* Header */

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1.5rem;
}

.logo span {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.logo strong {
  font-weight: 600;
  color: #424242;
}

ul {
  padding-right: 1.5rem;
}

header ul li {
  display: inline;
  padding-left: 1rem
}

/* Banner Section */

.jumbo-1 {
  background-color: #E5E5E5;
  display: flex;
}

.jumbo-left img {
  max-width: 100%;
  height: auto;
  display: block;
}

.button {
  color: #FFF;
  background-color: #474747;
  text-align: center;
  width: 15rem;
  padding: 0.5rem 0;
  margin-top: 1rem;
}

/* Information Section */

.jumbo-2 {
  display: flex;
}

.author {
  font-size: 0.7rem;
  color: #000;
}
