html, body {
  font-size: 16px;
}

/* header, nav, div, ul, li, h1, h2, span {
  border: 1px solid blue;
} */

.container {
  max-width: 1050px;
  margin: 0 auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #616161;
}

h1, h2, p {
  margin: 1rem 0;
}

h1 {
  color: #474747;
  font-weight: 700;
  font-size: 2rem;
}

h2 {
  color: #474747;
  font-weight: 600;
  font-size: 2rem;
}

h3 {
  color: #474747;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.2rem 0;
}

p {
  font-weight: 400;
}

.jumbo-left {
  width: 60%;
  margin: 2rem 1.5rem;
}

.jumbo-right {
  display: flex;
  flex-direction: column;
}

/* Header */

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1.5rem;
}

.logo span {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.logo strong {
  font-weight: 600;
  color: #424242;
}

ul {
  padding-right: 1.5rem;
}

header ul li {
  display: inline;
  padding-left: 1rem
}

/* Jumbo-1 Section */

.jumbo-1 {
  background-color: #E5E5E5;
  display: flex;
}

.jumbo-left img {
  max-width: 100%;
  height: auto;
  display: block;
}

.jumbo-1 .jumbo-right {
  max-width: 40%;
  justify-content: center;
}

.start {
  color: #FFF;
  background-color: #474747;
  text-align: center;
  width: 15rem;
  padding: 0.5rem 0;
  margin-top: 1.5rem;
  transition: all 300ms ease-in-out 100ms;
}

.start:hover {
  background-color: #E56346;
}

/* Jumbo-2 Section */

.jumbo-2 {
  display: flex;
}

.jumbo-2 .jumbo-right {
  max-width: 40%;
  justify-content: flex-start;
  margin: 1rem 0;
}

.author {
  font-size: 0.7rem;
  color: #000;
}

.information {
  display: flex;
  padding: 1rem;
}

.information .image {
  width: 35%;
}

.information-text {
  width: 65%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information-text p {
  font-size: .8rem;
  padding: 0.5rem 0;
}

.information img {
  max-width: 100%;
  height: auto;
  display: block;
}

.information:last-child {
  background-color: #E5E5E5;
}

.more {
  font-size: 0.8rem;
  color: #3AA6D6;
  transition: all 300ms ease-in-out 100ms;
}

.more:hover {
  color: #E56346;
}

/* Jumbo-3 Section */

.jumbo-3 {
  background-color: #E5E5E5;
  padding: 2rem 2.5rem;
}

.jumbo-3 h2,
.jumbo-4 h2 {
  display: block;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}

.jumbo-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.learning {
  background-color: #FFF;
  margin: 1rem;
  overflow: hidden;
  max-width: 310px;
}

.learning img {
  max-width: 100%;
  height: auto;
}

.learning-text {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.learning-text span {
  text-transform: uppercase;
  font-weight: 300;
  padding: 0.5rem 0;
}

.learning-text p {
  margin: 0;
  font-size: 1rem;
  font-weight: 300;
}

/* Jumbo-4 Section */

.jumbo-4 {
  padding: 2rem 2.5rem;
}

.jumbo-4 .image {
  width: 60%;
}

video {
  max-width: 100%;
  height: auto;
  display: block;
}
